[Unit]
Description=Chess WebSocket Server
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/var/www/chess-websocket/replay-chess/apps/web-socket
ExecStart=/usr/bin/node /var/www/chess-websocket/replay-chess/apps/web-socket/dist/index.js
Restart=on-failure
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=chess-websocket
Environment=NODE_ENV=production
EnvironmentFile=/var/www/chess-websocket/replay-chess/apps/web-socket/.env

[Install]
WantedBy=multi-user.target
